.counterLine {
    text-align: left;
    position: relative;
    left: 40%;
}

button {
    padding: 10px;
    width: 50px;
    font-size: 12pt;
    border-radius: 3px;
    background: #012345;
    color: aliceblue;
}

button.reset {
    width: 200px;
    background: #fecba9;
    color: rgb(15,7,0);
}

.count {
    position: relative;
    bottom: 10px;
    font-size: 8pt;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 12pt;
    padding: 5px;
    width: 100px;
}

.progressBar {
    display: inline-block;
    height: 18px;
    background: red;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.total {
    font-size: 20pt;
}